@import "tailwindcss";

:root {
  --color-primary: #492917;      
  --color-secondary: #FF9933;     /* Saffron Orange #FF9933*/
  --color-accent: #FFD700;        /* Golden Yellow #FFD700*/
  --color-bg: #F8F8F2;            /* Ivory White #F8F8F2*/
  --color-text: #5C4033;          /* Earth Brown #5C4033*/
  --color-success: #228B22;       /* Tulsi Green #228B22*/
  --color-alert: #E34234;         /* Vermilion Red #E34234*/
  --color-white: #fff;     

  --color-bg-dark: #1e1e1e;
  --color-card-dark: #2a2a2a;
  --color-text-dark: #e0e0e0; 
}
 /* Royal Purple #4B0082*/
/* #EFC812
#E5E4E8
#AD331F
#492917
#E9CD7B */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Montserrat', serif;
}

header, footer {
  background-color: var(--color-primary);
  color: var(--color-white);
}

a {
  color: var(--color-secondary);
  transition: .2s all ease-in-out;
}

a:hover {
  color: var(--color-white);
}

button,
a.button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  transition: .2s all ease-in-out;
}

button,
a.button:hover {
  background-color: var(--color-accent);
  color: var(--color-text);
}

.section-divider {
  border-top: 2px solid var(--color-success);
  margin: 2rem 0;
}